@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

body {
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0;
}

.container h1 {
    font-family: "Honk", system-ui;
    font-size: 69px;
    margin: 0 0 10px;
    display: flex;
    justify-content: center;
}

.image {
    width: 800px;
    height: 500px;
    margin-bottom: 20px;
}

#goatImage {
    border-radius: 20px;
}

.button-56 {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-56:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.button-56:hover:after {
    transform: translate(0, 0);
}

.button-56:active {
    background-color: #ffdeda;
    outline: 0;
}

.button-56:hover {
    outline: 0;
}

@media (min-width: 768px) {
    .button-56 {
        padding: 0 40px;
    }
}
